<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>전체 사원 조회</title>
<script th:inline="javascript">
	function getCtx(){
		return /*[[${#httpServletRequest.getContextPath()}]]*/''; //http://localhost:8089/test/empList
	}
</script>
</head>
<body>
	<div>
	<button type="button" th:onclick="|location.href='@{/empInsert}'|" th:text="등록"></button>
	</div>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>employee_id</th>
					<th>name</th>
					<th>job_id</th>
					<th>hire_date</th>
				</tr>
			</thead>
			<tbody>
					<!-- <tr th:each="emp, state : ${empList}" th:id="${state.index}"> -->
				<th:block th:each="emp, state : ${empList}">
					<tr th:id="${state.index}"><!-- @{/key = value &key = value} -->
						<td><input name="check_box" type="checkbox" value="${emp.employeeId}"></td>
						<td th:text="${emp.employeeId}" th:onclick="|location.href='@{/empInfo(employeeId=${emp.employeeId})}'|"/>
						<td th:text="${#strings.isEmpty(emp.firstName) ? emp.lastName : emp.lastName + '_' + emp.firstName}" />
						<td>[[${emp.jobId}]]</td>
						<td>[[${#dates.format(emp.hireDate, 'yyyy년MM월dd일')}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>

<script>

</script>
</body>
</html>